<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= botNick %>'s <%= title %></title>
  <link rel="stylesheet" href="/static/michibot.css">
</head>
<body>
  <header>
    <div class="innertube">
      <h1><a href="<%= currentPath %>"><%= title %></a></h1>
    </div>
  </header>

  <div id="wrapper">
    <main>
      <div id="content">
        <div class="innertube">
